<div class="card">
  <header class="card-header">
    <p class="card-header-title">{{ $ctrl.userdata.username }}'s current tasks : {{ $ctrl.userdata.tasks.length }}</p>
  </header>
  <div class="card-content content">
  <ul class="todo-list">
      <li ng-repeat="task in $ctrl.userdata.tasks">
        <span class="tag is-info is-small priority">{{ task.priority | prioritize }}</span> <a href="#!/task/update/{{task.task_id}}">{{ task.title }}</a> <small>{{task.due_date.date | momentize }}</small>
      </li>
    </ul>
  </div>
  <footer class="card-footer">
    <a href="#!/user/{{ $ctrl.userdata.user_id }}" class="card-footer-item">See all</a>
  </footer>
</div>
